<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("includes/head")%>
  </head>
  <body>
    <%-include("includes/header")%> <%-include("includes/side-drawer")%>
    <main>
      <h1 style="color: rgba(238, 25, 25, 0.779)">Page not found!</h1>
      <p>Unfortunately, we could not find this page</p>
    </main>
  </body>
</html>
