<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("includes/head")%>
  </head>
  <body>
    <%-include("includes/header")%> <%-include("includes/side-drawer")%>
    <main>
      <h1 style="color: rgba(238, 25, 25, 0.779)">Somthing went wrong!</h1>
      <p>
        Unfortunately, somthing went wrong on the server - w'er doning or best
        to fix it, pleas wait!
      </p>
    </main>
  </body>
</html>
